<h1>I fucking hate this already!</h1>
<h2> Also known as test blog in rails...<h2>
<p>Here's that individual post:</p>
<table border="6">
  <tr>
    <td><%= @post.title %></td> <td><%= @post.date %> </td> 
  </tr>
 
  <tr>
   

  <tr>
    <td cs="2"><%= @post.content %></td>
  </tr>
  <tr>
    <td>Mood: <%= @post.mood %> </td> 
  </tr>
</table> 
<%= link_to 'Back', {:action => 'index' } %>
<br>

